@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--color-on-surface);
}

.logo {
    font-family: 'Lobster', cursive;
}

pre {
    border-left: 0.4rem solid var(--color-orange);
    text-align: left;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: monospace;
}
