* {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    color: var(--color-on-surface);
}

pre {
    border-left: 0.4rem solid var(--color-orange);
    text-align: left;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: monospace;
}
